<div class="container my-5">
  <div class="row justify-content-center">

    <div class="d-flex">
      <div style="margin-right: 10px ">
        <h1>PEDIDOS</h1>
      </div>
    </div>





    <div *ngFor="let pendiente of pedidos | paginate: { itemsPerPage: 10, currentPage: page }">
      <div class="tarjeta">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-10">
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header">

                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      attr.data-bs-target="#{{pendiente._id}}" aria-expanded="true">
                      <span> <strong>Id: </strong> {{pendiente._id}} </span>
                      <span class="spacer"></span>
                      <span> <strong>Fecha: </strong> {{pendiente.fecha_pedido}} </span>
                      <span class="spacer"></span>
                      <span> <strong>Fecha de entrega: </strong> {{pendiente.fecha_entrega}} </span>
                      <span class="spacer"></span>
                    </button>

                  </div>


                  <div [id]="pendiente._id" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <div>
                        <table class="table tabla">
                          <thead class="table-dark">
                            <tr>
                              <th>Vendedor</th>
                              <th>Producto</th>
                              <th>Precio</th>
                              <th>Unidades</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let producto of pendiente.productos">
                              <td>{{producto.usuario}}</td>
                              <td>{{producto.nombre}}</td>
                              <td>{{producto.precio}}</td>
                              <td>{{producto.unidadesCompra}}</td>
                              <td>{{(producto.unidadesCompra|| 1 ) * producto.precio}}</td>
                            </tr>
                            <tr>
                              <td><strong>TOTAL:</strong></td>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                              <td><strong>{{totalOrden(pendiente.productos)}}</strong> </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-2" style="margin-top: 8px;">
              <div>
                <button (click)="entregarPedido(pendiente)" mat-raised-button color="accent"
                  style="margin-right: 15px;">Entregar</button>
                <button (click)="openDialog(pendiente)" mat-raised-button color="primary">Editar</button>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
    <div class="centrar" *ngIf="pedidos.length > 10">
      <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
    </div>
  </div>
