<div class="container">

  <div *ngFor="let producto of productos" class="item">
    <mat-card class="cont">

      <mat-card-header>
        <mat-card-title>{{producto.nombre}}</mat-card-title>
        <mat-card-subtitle>{{producto.categoria?.toString()| titlecase}}</mat-card-subtitle>
      </mat-card-header>

      <div class="texto-top">
        <mat-card class="tarjeta">
          <p style="color: white;">VENDIDO</p>
        </mat-card>
      </div>
      <img mat-card-image
      [src]="producto.imagenContenido || 'https://images.unsplash.com/photo-1551373824-52d97db2f2c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1071&q=80'"
      alt="Imagen">

      <mat-card-content>
        <div>
          {{producto.descripcion}}
        </div>
        <div>
          <strong> Precio: </strong> {{producto.precio}}
        </div>
        <div>
          <strong> Unidades vendidas: </strong> {{producto.unidadesCompra}}
        </div>
        <div>
          <strong> Fecha venta: </strong> {{producto.fechaCompra}}
        </div>
        <div>
          <strong> Total: </strong> {{producto.precio * (producto.unidadesCompra || 1)}}
        </div>

      </mat-card-content>

      <mat-card-actions>

      </mat-card-actions>

    </mat-card>
  </div>
</div>
