<div class="container my-5">
  <div class="row justify-content-center">

    <div class="d-flex">
      <div style="margin-right: 10px ">
        <h1>AUTORIZACION DE PRODUCTOS</h1>
      </div>
    </div>

    <div class="centrar">
      <table class="table tabla">
        <thead class="table-dark">
          <tr>
            <th>Producto</th>
            <th>Usuario</th>
            <th>Fecha de solicitud</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{producto.nombre.toString() | titlecase}}</td>
            <td>{{producto.usuario}}</td>
            <td>{{producto.solicitud.fecha_solicitud}}</td>
            <td>
              <button (click)="openDialog(producto)" mat-raised-button color="primary"> Ver </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="centrar" *ngIf="productos.length > 10">
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
          nextLabel="Siguiente"></pagination-controls>
      </div>
    </div>
  </div>
</div>
