<div class="container">
  <span style="margin-top: 20px; margin-left: 13px; font-size: 30px;">Productos</span>
  <span class="spacer"></span>
  <mat-form-field class="full-width buscador" appearance="legacy">

    <input [formControl]="control" matInput placeholder="Buscar">
  </mat-form-field>
</div>
<div class="container">
  <div *ngFor="let producto of productos | paginate: { itemsPerPage: 12, currentPage: page }" class="item">
    <mat-card>

      <mat-card-header>
        <mat-card-title>{{producto.nombre}}</mat-card-title>
        <mat-card-subtitle>{{producto.categoria?.toString()| titlecase}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image
        [src]="producto.imagenContenido || 'https://images.unsplash.com/photo-1551373824-52d97db2f2c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1071&q=80'"
        alt="Photo of a Shiba Inu">

      <mat-card-content>
        <div>
          {{producto.descripcion}}
        </div>
        <div>
          <strong> Disponibles: </strong> {{producto.stock}}
        </div>
        <div>
          <strong> Precio: </strong> {{producto.precio}}
        </div>

      </mat-card-content>

      <mat-card-actions>
        <div class="mb-3">
          <input type="number" class="form-control" placeholder="Unidades a comprar"
            [(ngModel)]="producto.unidadesCompra">
        </div>
        <button (click)="agregarAlCarrito(producto)" type="button" mat-raised-button color="accent">Agregar al
          carrito</button>
      </mat-card-actions>

    </mat-card>
  </div>
</div>
<div class="centrar" *ngIf="productos.length>12">
  <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>
</div>
