<div class="container my-5">
  <div class="row justify-content-center">
    <div style="margin-bottom: 30px;">
      <div class="d-flex">
        <div style="margin-right: 10px ">
          <h1>Pedidos pendientes</h1>
        </div>
      </div>

      <div class="accordion" *ngFor="let pendiente of pedidosPendientes">
        <div class="accordion-item">

          <div class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              attr.data-bs-target="#{{pendiente._id}}" aria-expanded="true">
              <span> <strong>Id: </strong> {{pendiente._id}} </span>
              <span class="spacer"></span>
              <span> <strong>Fecha: </strong> {{pendiente.fecha_pedido}} </span>
              <span class="spacer"></span>
              <span> <strong>Fecha de entrega: </strong> {{pendiente.fecha_entrega}} </span>
              <span class="spacer"></span>
            </button>
          </div>

          <div [id]="pendiente._id" class="accordion-collapse collapse">
            <div class="accordion-body">

              <table class="table tabla">
                <thead class="table-dark">
                  <tr>
                    <th>Vendedor</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Unidades</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of pendiente.productos">
                    <td>{{producto.usuario}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.unidadesCompra}}</td>
                    <td>{{(producto.unidadesCompra|| 1 ) * producto.precio}}</td>
                  </tr>
                  <tr>
                    <td><strong>TOTAL:</strong></td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td><strong>{{totalOrden(pendiente.productos)}}</strong> </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div>
      <div class="d-flex">
        <div style="margin-right: 10px ">
          <h1>Pedidos entregados</h1>
        </div>
      </div>

      <div class="accordion" *ngFor="let entregado of pendidosEntregados ">
        <div class="accordion-item">

          <div class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              attr.data-bs-target="#{{entregado._id}}" aria-expanded="true">
              <span> <strong>Id: </strong> {{entregado._id}} </span>
              <span class="spacer"></span>
              <span> <strong>Fecha: </strong> {{entregado.fecha_pedido}} </span>
              <span class="spacer"></span>
              <span> <strong>Fecha de entrega: </strong> {{entregado.fecha_entrega}} </span>
              <span class="spacer"></span>
            </button>
          </div>

          <div [id]="entregado._id" class="accordion-collapse collapse">
            <div class="accordion-body">

              <table class="table tabla">
                <thead class="table-dark">
                  <tr>
                    <th>Vendedor</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Unidades</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of entregado.productos">
                    <td>{{producto.usuario}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.unidadesCompra}}</td>
                    <td>{{(producto.unidadesCompra|| 1 ) * producto.precio}}</td>
                  </tr>
                  <tr>
                    <td><strong>TOTAL:</strong></td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td><strong>{{totalOrden(entregado.productos)}}</strong> </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
