<div class="container my-5">
  <div class="row justify-content-center">

    <div class="col-8">
      <div class="d-flex">
        <div style="margin-right: 10px ">
          <h1>Carrito</h1>
        </div>
        <span class="spacer"></span>
        <div class=" d-flex align-items-center">
          <a class="btn btn-outline-danger" type="button" (click)="eliminarCarrito()">Eliminar carrito</a>
        </div>
      </div>

      <div>
        <table class="table tabla">
          <thead class="table-dark">
            <tr>
              <th>Nombre</th>
              <th>Unidades</th>
              <th>Precio</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos | paginate: { itemsPerPage: 10, currentPage: page }">
              <td>{{producto.nombre}}</td>
              <td>{{producto.unidadesCompra}}</td>
              <td>{{producto.precio}}</td>
              <td>{{producto.precio*(producto.unidadesCompra || 0)}}</td>
              <td>
                <button (click)="eliminarProducto(producto)" type="button" class="btn btn-outline-danger">
                  <mat-icon>delete</mat-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <strong>TOTAL: </strong> {{total()}}
        </div>
      </div>
      <div class="centrar" *ngIf="productos.length>10">
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
          nextLabel="Siguiente"></pagination-controls>
      </div>
    </div>

    <form class="col-4" (ngSubmit)='comprar()' autocomplete="off" [formGroup]="miFormulario">
      <div class="col-4">
        <mat-form-field *ngIf="tarjetas.length>0" appearance="fill" class="margen">
          <mat-label>Tarjeta</mat-label>
          <mat-select formControlName="tarjeta">
            <mat-option *ngFor="let tarjeta of tarjetas; let i = index " [value]="tarjeta">
              {{tarjeta.aleas + " " + formatearNumeroTarjeta(tarjeta)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <div class="mb-3">
          <label class="form-label">Numero de tarjeta: </label>
          <input formControlName="notarjeta" type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">CVV: </label>
          <input formControlName="cvv" type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Fecha de expiracion: </label>
          <input formControlName="fecha" type="date" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Aleas: </label>
          <input formControlName="aleas" type="text" class="form-control" placeholder="mi tarjeta azul">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="guardar" id="flexCheckDefault">
          <label class="form-check-label">
            Guardar tarjeta
          </label>
        </div>
        <br>
        <div>
          <button type="submit" mat-raised-button color="primary">Comprar</button>
        </div>
      </div>
    </form>
  </div>
</div>
