<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
<!-- Inicio card -->
<div class="container">
  <div class="col-10">
    <mat-card>

      <mat-card-header>
        <mat-card-title>Jueguete para perro</mat-card-title>
        <mat-card-subtitle>Mascotas</mat-card-subtitle>
      </mat-card-header>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-5">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
          </div>
          <div class="col-7">
            <mat-card-content>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Numero de tarjeta: </label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CVV: </label>
                <input type="text" class="form-control">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Fecha de expiracion: </label>
                <input type="date" class="form-control">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Aleas: </label>
                <input type="text" class="form-control" placeholder="mi tarjeta azul">
              </div>
            </mat-card-content>

          </div>
          <div class="col-3">

          </div>
        </div>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="warn">Cancelar</button>
        <button mat-raised-button color="primary">Autorizar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-2">

  </div>
</div>
<!-- FIN CARD -->
