<form (ngSubmit)='editar()' autocomplete="off" [formGroup]="miFormulario">
  <mat-card>
    <mat-card-header>
      <h2>
        <strong>Editar</strong>
      </h2>
    </mat-card-header>
    <mat-card-content>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Fecha del pedido: </label>
        <input formControlName="fechaPedido" type="date" class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Fecha de entrega: </label>
        <input formControlName="fechaEntrega" type="date" class="form-control">
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" (click)="onNoClick()" mat-raised-button color="warn">Cancelar</button>
      <button type="submit" mat-raised-button color="primary">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
