<div class="container my-5">
  <div class="row justify-content-center">

    <div class="col-8">
      <div class="text-center fs-2 fw-bold">Usuarios</div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">Rol</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let usuario of usuarios">
          <tr>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.usuario}}</td>
            <td>{{usuario.rol | titlecase }}</td>
            <td>
              <button mat-raised-button color="primary" (click)="openDialog(usuario)"
                style="margin-right: 10px;">Editar</button>
              <button mat-raised-button color="warn" (click)="eliminar(usuario)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <form class="col-4" (ngSubmit)='agregarUsuario()' autocomplete="off" [formGroup]="miFormulario">
      <div class="text-center fs-2 fw-bold">Agregar nuevo usuario</div>
      <br>
      <br>

      <mat-form-field appearance="fill" class="margen">
        <mat-label>Tipo de cuenta</mat-label>
        <mat-select formControlName="tipoCuenta">
          <mat-option *ngFor="let rol of roles" [value]="rol">
            {{rol | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre: </label>
        <input formControlName="nombre" type="text" class="form-control">
        <span *ngIf="campoEsValido('nombre')" class="form-text text-danger">
          Debe de ser mayor a 5 caracteres
        </span>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Usuario: </label>
        <input formControlName="usuario" type="text" class="form-control">
        <span *ngIf="campoEsValido('usuario')" class="form-text text-danger">
          {{getErrorNombre()}}
        </span>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Contraseña: </label>
        <input formControlName="contrasena" type="text" class="form-control">
        <span *ngIf="campoEsValido('contrasena')" class="form-text text-danger">
          Debe de ser mayor a 5 caracteres
        </span>
      </div>
      <button mat-raised-button color="primary">Agregar</button>
    </form>

  </div>
</div>
