<div class="container my-5">

  <div class="d-flex">
    <div style="margin-right: 10px ">
      <h1>TOP 10 PRODUCTOS MAS VENDIDOS</h1>
    </div>
    <span class="spacer"></span>
    <form (ngSubmit)='mostrar()' autocomplete="off" [formGroup]="miFormulario">
      <div class="d-flex align-items-center">
        <div style="margin-right: 5px;">
          <label class="form-label">Fecha inicial:</label>
        </div>
        <div style="margin-right: 15px;">
          <input formControlName="fechaInicial" type="date" class="form-control" />
        </div>
        <div style="margin-right: 5px;">
          <label class="form-label">Fecha final:</label>
        </div>
        <div style="margin-right: 15px;">
          <input formControlName="fechaFinal" type="date" class="form-control" />
        </div>
        <div>
          <button type="submit" mat-raised-button color="accent">Mostrar</button>
        </div>
      </div>
    </form>
  </div>
  <div>
    <br>
    <div>
      <table class="table tabla">
        <thead class="table-dark">
          <tr>
            <th>NOMBRE DEL PRODUCTO</th>
            <th>UNIDADES VENDIDAS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resultado of resultados">
            <td>{{resultado._id.nombre}}</td>
            <td>{{resultado.unidadesTotales}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
