<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="bg-white p-3 rounded-5 text-secondary shadow" style="width: 30rem">
    <div class="text-center fs-2 fw-bold">REPORTES</div>
    <button routerLink='/administrador/reportes/top-productos-vendidos'
      class="btn btn-dark text-white w-100 mt-4 fw-semibold shadow-sm boton">
      TOP 10 PRODUCTOS MAS VENDIDOS
    </button>
    <button routerLink='/administrador/reportes/top-clientes-ganancias'
      class="btn btn-dark text-white w-100 mt-4 fw-semibold shadow-sm boton">
      TOP 5 CLIENTES QUE MAS GANANCIAS POR COMPRAS HAN GENERADO
    </button>
    <button routerLink='/administrador/reportes/top-clientes-productos-vendidos'
      class="btn btn-dark text-white w-100 mt-4 fw-semibold shadow-sm boton">
      TOP 5 CLIENTES QUE MAS PRODUCTOS HAN VENDIDO
    </button>
    <button routerLink='/administrador/reportes/top-clientes-pedidos'
      class="btn btn-dark text-white w-100 mt-4 fw-semibold shadow-sm boton">
      TOP 10 CLIENTES QUE MAS PEDIDOS HAN REALIZADO
    </button>
    <button routerLink='/administrador/reportes/top-clientes-stock'
      class="btn btn-dark text-white w-100 mt-4 fw-semibold shadow-sm boton">
      TOP 10 CLIENTES QUE MAS PRODUCTOS TIENEN A LA VENTA
    </button>
  </div>
</div>
